@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto' -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.table-heading{
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}
table {
  border-spacing: 0;
  border: 1px solid #282a30;

  
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #282a30;
  border-right: 1px solid #282a30;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #282a30;
  }
  table{
    border: 1px solid white;
  }
  th,
  td {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
  }
}
